/* ----------GENERAL----------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body{
    background-color: #f6f8f9;
}

/* ----------HEADER----------- */

header{
    background-color: white;
    width: 100%;
    height: auto;
    padding: .5rem 1rem;
}

header img{
    width: 5rem; 
    vertical-align: top;
}

header h1{
    font-size: 4rem;
    display: inline-block;
}

/* ----------MAIN----------- */
main{
    width: 75%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 3.5rem auto;
}

/* Section button */

section.btn{
    padding: .6rem 3rem;

    border-bottom: 1px solid lightgrey;
}

section.btn button{
    margin-right: .7rem;
    padding: .4rem;
    border-radius: 5px;
}

.btn-blue{
    background-color: #47adf1;
    color: white;
    border: 1px solid #47adf1;
}

.btn-grey{
    background-color: white;
    color: gray;
    border: 1px solid gray;
}

/* ----------LIST----------- */

div.list-container{
    width: 100%;
    padding: 4rem;
}

div.list-container section{
    margin-bottom: 4.5rem;
}

ul{
    margin-top: 1rem;
}

ul li{
    margin-top: 1rem;
    list-style: none;
    font-size: 1.1rem;
}

.conferm{
    font-size: .6rem;
    padding: .1rem .2rem;
    color: green;
    border: 1px solid green;
    border-radius: 100%;
    vertical-align: middle;
}

.delete{
    font-size: .6rem;
    padding: .1rem .2rem;
    color: red;
    border: 1px solid red;
    border-radius: 100%;
}

.tag{
    color: white;
    font-size: .7rem;
    background-color: #47adf1;
    border-radius: 50px;
    padding: .5rem .4rem;
    vertical-align: middle;
}

/* tag color */
.q1goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color: #f29e33;
}